/* ALl styling that is NOT inside a media query can be regarded as default styling for our web page */
/* Here goes content mobil-first */
body {
  margin: 0;
  font-size: 150%;
  height: 100vh;
  font-family: Verdana, Arial, sans-serif;
}

nav {
  background-color: lime;
  align-items: center;
  gap: 15px;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: flex-end;
}

.logo {
  font-size: 70px;
  flex: 1;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #333;
  letter-spacing: 1px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  min-height: 100vh;
}
.wrapper > * {  /* All in wrapper...*/
  padding: 0.6rem;
  flex: 1 100%;
}

.main {
  padding: 1rem;
  /* background-color: deepskyblue; */
  text-align: left;
}

.aside1 {
  /* background-color: gold; */
  background-color: #bbb;
}
.aside2 {
  background-color: hotpink;
  background-color: #ddd;
}

.footer {
  /* background-color: lightgreen; */
  background-color: darkgreen;
  color: #fff;
}





/* Here goes media queries */

@media screen and (min-width: 600px) {  /* 570px */
  /* This styling will only apply when the screen is smaller than 570px in width. BUT the styling from the media query above will still be in effect. */
  body {
    font-size: 130%;
  }
  nav {
    flex-direction: row;
    background-color: blanchedalmond;
  }
 
  .logo {
    font-size: 2.2rem;
  }

  a {
    font-size: 1rem;
  }

  .aside {
    flex: 1;
  }
}

@media screen and (min-width: 900px) {  /* 800px */
  /* This styling will only apply as long as the screen is smaller than 800 px in width*/

  body {
    font-size: 120%;
  }
  nav {
    background-color: aquamarine;
  }
  
  .main {
    flex: 3 0px;
    order: 2;
  }
  .aside1 { order: 1; }
  .aside2 { order: 3; }
  .footer { order: 4; }
}

